.wrapper {
    display: grid;
    grid-template-columns: auto 100px;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2c34;
  }
  
  .text {
    border: none;
    outline: none;
    background: none;
    padding: 20px;
    color: white;
    font-size: 16px;
  }
  
  .btn {
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    color: black;
    background-color: rgb(218, 255, 170);
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: rgb(200, 253, 130);
  }
  
  .wrapper2{
    display: grid;
    grid-template-columns: 60px auto;
    min-height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #1b1b1d;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
  }