.wrapper {
  display: grid;
  grid-template-columns: auto 100px;
  height: 60px;
  border-radius: 20px;
  background-color: rgb(66, 80, 66);
}

.text {
  outline: none;
  background: none;
  padding: 10px;
  font-size: 15px;
  color: black;
  font-weight: bold;
}
input::placeholder { /* WebKit, Blink, Edge */
  color:    black;
}
.btn {
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  color: black;
  background-color: rgb(218, 255, 170);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(200, 253, 130);
}

.wrapper2 {
  display: grid;
  grid-template-columns: 50px auto;
  min-height: 80px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #1b1b1d;
}

.avatar {
  width: 30px;
  height: 30px;
}